{% extends 'layout.html' %}
{% block content %}
<section id="manager" class="gradientBackground fullHeight">
    <nav class="topNav">
    </nav>
    <section class="w3-container horizontal-center">
        <div class="row vertical-center between">
            <button id="addTrack" class="round"><img src="/static/icons/feather/plus.svg"></button>
            <a href="{{ url_for('login_blueprint.logout') }} " class="button">Logout</a>
        </div>
        <div class="listElement" id="audioView">
            <list-entry v-for="item in items" v-bind:key="item.id" :item="item"></list-entry>
        </div>
    </section>

</section>




<script src="/static/js/vue.js"></script>
<script src="/static/js/Dialog.js"></script>
<script src="/static/js/models/Audio.js"></script>
<script src="/static/js/views/AudioView.js"></script>
<script src="/static/js/controller/AudioController.js"></script>

{% endblock content %}