{% extends 'layout.html' %}
{% block content %}
<section id="manager" class="gradientBackground fullHeight">
    <nav class="topNav"> 
    </nav> 
    <section class="w3-container horizontal-center">
        <div class="listElement">
            <div class="listEntry">
                <section class="thumbnail"><div><img src="/static/icons/feather/image.svg"></div></section>
                <section class="title">Self-Sabotage (Chime x Trinergy Remix)</section>
                <section class="artists">Ace Aura x Millennial Trash</section>
                <section class="title-lenght">3:40</section>
                <section class="button-area">
                    <form>
                        <button class="round"><img src="/static/icons/feather/trash-2.svg"></button>
                        <button class="round"><img src="/static/icons/feather/edit-2.svg"></button>
                    </form>
                </section>
            </div>
        </div>
    </section>
</section>
<script src="/static/js/vue.js"></script>
{% endblock content %}