{% extends 'layout.html' %}
{% block content %}
<section id="manager" class="gradientBackground fullHeight">
    <nav class="topNav">
    </nav>
    <section id="dialogContainer" class="horizontal-center vertical-center">
        <edit-entry v-for="item in items" v-bind:key="item.id" :item="item"></edit-entry>
    </section>
    <section class="w3-container horizontal-center">
        <div class="listElement" id="audioView">
            <list-entry v-for="item in items" v-bind:key="item.id" :item="item"></list-entry>
            <edit-entry v-for="item in items" v-bind:key="item.id + item.title" :item="item"></edit-entry>
        </div>
    </section>

</section>




<script src="/static/js/vue.js"></script>
<script src="/static/js/Dialog.js"></script>
<script src="/static/js/models/Audio.js"></script>
<script src="/static/js/views/AudioView.js"></script>
<script src="/static/js/controller/AudioController.js"></script>

{% endblock content %}