@import 'pallet.css';
@import 'element-config.css';

img{
    display: block;
    width: 100%;
}

body{
    min-height: 100vh;
}

#logo{
    max-width: 20rem;
}

#logo.white{
    background-color: white;
    border-radius: var(--element-radius);
}

#login-view{
    background-color: var(--jazzberry-jam);
    height: 100%;
}


#login-background{
    background:linear-gradient(90deg, white 0%, var(--middle-blue-green));
}

.gradientBackground{
    background: linear-gradient(90deg, var(--middle-blue-green), var(--maximum-blue-purple-2));
}

.fullHeight{
    min-height: 100vh;
}

nav.topNav{
    padding: 5px;
}

#manager .w3-container{
    border-radius: var(--element-radius);
    max-width: 980px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    margin: 2em auto;
}

.listElement{
    overflow-y: auto;
    max-height: 80vh;
}

.listElement .listEntry{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    padding: 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.listEntry section{
    display: flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
}

.listEntry .thumbnail{
    width: 10%;
    
}
.listEntry .thumbnail div{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.listEntry .thumbnail div img{
    transform: scale(2);
}

.listEntry div{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
}

.listEntry .title{
    width: 30%;
}

.listEntry .artists{
    width: 30%;
    text-align: center;
}

.listEntry .title-lenght{
    width: 15%;
}

.listEntry .button-area{
    width: 15%;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

@media (max-width:500px){
    .listEntry .artists{
        display: none;
    }
    .listEntry .thumbnail{
        display: none;
    }
    
    #manager .w3-container{
        padding: 0.2em;
    }
}