@import 'element-config.css';
@import 'pallet.css';

div.notify{
    text-align: center;
    font-weight: bold;
    padding: 1em;
    border-radius: var(--element-radius);
    background-color: var(--notification);
    margin: 1em;
    animation-name: appear;
    animation-duration: 2s;
}

div.notify.alert{
    background-color: var(--alert-notification);
    color: white;
}

div.notify.success{
    background-color: var(--success-notification);
    color: white;
}


div.deleteDialog.open{
    top:0;
    left:0;
    position: fixed;
    display: block;
    width: 100vw;
    height:100vh;
}
.deleteDialog .dialogAbsolute{
    width: 50%;
    position:relative;
    margin: 0 auto;
    background-color: rgba(255,255,255,1);
    border-radius: var(--element-radius);
    padding: 1em;
}
.deleteDialog div{
    margin-bottom: 1em;
}
.deleteDialog .message{
    font-size: 1.2em;
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

