@import 'pallet.css';

a.red, button.red{
    background-color: var(--alert-notification);
}

a.red, button.red{
    background-color: var(--alert-notification);
}

a.highlighted, button.highlighted{
    background-color: var(--y-in-mn-blue);
    color: white;
}

a.red img, button.red img{
    filter: invert();
}

form input,form button,input, button, a{
    display: block;
    margin: 1.2em 0;
    font-size: 1em;
    transition: 0.5s box-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
}


 input{
    width: 15em;
    height: 2.5em;
    padding: 0.25em 1em;
    border-radius: 20em;
    border: gray solid 1px;
    
}

input:hover, button:hover, a.button:hover{
    box-shadow: 0 3px 3px black;
}

input:focus, button:focus, a.button:focus{
    border: gray solid 1px;
    border-bottom-color: var(--y-in-mn-blue);
    box-shadow: 0 3px 3px black;
}



form button,button, form a, a.button{
    padding: 0.5em 2em;
    height: 2.5em;
    border: none;
}

button, a.button{
    text-align: center;
    text-decoration: none;
    background-color: var(--middle-blue-green);
    border: none;
    border-radius: 20em;
}

button.round{
    border-radius: 100%;
    height:40px;
    width: 40px;
    padding: 0;
    margin: 1.2em 0;
}

button.round div, a.round div{
    border-radius: 100%;
    height:100%;
    width: 100%;
}

button img{
    width: 25px;
}

