@import 'pallet.css';

form input, form button{
    display: block;
    margin: 1.2em 0;
    font-size: 1em;
    /* box-shadow: 0 2px 1px black; */
    transition: 0.5s;
}

form input{
    width: 15em;
    height: 2.5em;
    padding: 0.25em 1em;
    border-radius: 20em;
    border: gray solid 1px;
    
}

input:hover, button:hover{
    box-shadow: 0 3px 3px black;
}

input:focus, button:focus{
    border: gray solid 1px;
    border-bottom-color: var(--y-in-mn-blue);
    box-shadow: 0 3px 3px black;
}

form button{
    text-align: center;
    padding: 0.5em 2em;
    height: 2.5em;
    background-color: var(--middle-blue-green);
    border: none;
    border-radius: 20em;
}


