:root{
    --middle-blue-green: #adeee3ff;
    --orange-soda: #f06543ff;
    --y-in-mn-blue: #3c4f76ff;
    --maximum-blue-purple: #c2aff0ff;
    --jazzberry-jam: #9a275aff;
    --hunter-green: #28502eff;
    --maximum-blue-purple-2: #a09be7ff;
    --black-chocolate: #100b00ff;

    --alert-notification: #ff595e;
    --success-notification: #8ac926;
    --notification: #1982c4;

}