<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/interactive-elements.css">
        <link rel="stylesheet" href="/static/css/interface-elements.css">
        <link rel="stylesheet" href="/static/css/simple-grid.css">
        <link rel="stylesheet" href="/static/css/app.css">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/vendor/w3.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
    <body>
        {% block content %}{% endblock content%}
    </body>
</html>